<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="navigation fixed-top">
        <div class="container">
          <!-- main nav -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <!-- logo -->
            <a class="navbar-brand logo" href="index.html">
              <img class="logo-default" src="images/starbuckslogo.png" alt="logo"/>
              
            </a>
            <!-- /logo -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            
      
            <div class="navbar" id="navigation">
              <div>
                  <ul class="upper">
                      <li>
                        <a href="#" role="button">
                          cart
                        </a>
                      </li>
                      <li>
                        <a href="#" role="button">
                          Login
                        </a>
                      </li>
                      
                    </ul>
                </div>
              <ul class="lower">
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Menu
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="index.html">Drink</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Product</a>
                    <a class="dropdown-item" href="#">Card</a>
                  </div>
                </li>
                <li class="nav-item ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Store
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">매장 찾기</a>
                    <a class="dropdown-item" href="#">드라이브 스루 매장</a>
                    <a class="dropdown-item" href="#">리저브 매장</a>
                  </div>
                </li>
                
              </ul>
              
            </div>
          </nav>
          <!-- /main nav -->
        </div>
      </header>
</body>
</html>