@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");
body {
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #848484;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

/*=================================================================
  Footer section
==================================================================*/
.top-footer {
  background-color: #222222;
  border-top: 1px solid #404040;
  padding: 100px 0 80px;
}

.footer-menus{
  display: flex;

}

.footer-menus ul{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20%;
}

.footer-menu-title a{
  font-size: 20px;
  font-weight: 300;
}

.footer-menus li{
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color .3s;
  font-family: "Source Sans Pro", sans-serif;
  display: block;
}


.footer-bottom {
  text-align: center;
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom-button{
  background-color: #1b1b1b;
  color: white;
  font-size: 14px;
  border: solid white 2px;
  width: 150px;
  height: 30px;
  margin-bottom: 4%;
  border-radius: 6%;
}


.footer-bottom ul{
  display: flex;
  color: white;
  justify-content: flex-start;
  vertical-align: baseline;
  margin-bottom: 20px;
}

.footer-bottom ul li{
  color: rgb(255, 255, 255);
  font-size: 12px;
  justify-content: center;
  margin-left: 3px;  
  margin-right: 3px;
  text-align: center;

}

.copyright-box{
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
}

.page-404 {
  display: flex;
  align-items: center;
  height: 100vh;
}

.page-404 h1 {
  font-size: 200px;
}

/* =======================
========로그인===========*/

.body{
  background-image: url("../images/login_bg.jpg");
}

.outer-login-box{
  background-color: white;
  width: 550px;
  display: block;
  
  text-align: center;
  border-radius: 2px;
  border: 0px;
}

.title h2 {
  color: rgb(255, 255, 255);
  margin-top: 10%;
}



.welcom-box{
  color: rgb(103, 185, 103);
  padding-top: 20px;
}

.greeting-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  margin-top: 20px;
  text-align: center;
  color: rgb(58, 143, 58);
  font-size: 20px;
  font-weight: 800;
  
}

.welcome-starbucks-box{
  padding-top: 20px;
  color: #a8a8a8;
}

.welcom-starbucks{
  color: #a8a8a8;
  font-size: 17px;
  font-weight: 600;
  padding-top: 20px;
}



.login-title{
  display: block;
}

.kakaologin-button{
  display: flex;
  justify-content: center;
}

.login-warn {
  text-align: left;
  color: #006633;
  font-weight: 600;
  font-size: 14px;
}

.login-box{
  display: flex;
  
}

.login-form{
  display: block;
  text-align: center;
  border: 0px;
  height: 330px;
  width: 550px;
}

.kakaologin-button img{
  height: 50px;
  width: 200px;
}

.managerlogin-button-box{
  display: flex;
  justify-content: flex-end;
}

.managerlogin-button{
  background-color: #006633;
  height: 35px;
  width: 100px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 0px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
  color: white;
}

.form-box{
  padding: 0px 30px 20px 30px;
}

/* ========manager login
===========================*/

.id-pw-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.manager-login{
  height: 40px;
  width: 90%;
  margin-bottom: 20px;
}

.managerloginfunc-button-box{
  display: flex;
  justify-content: center;
}



